.slider {
  .slide {
    display: flex;
    height: 100vh;
    transition: all 0.3s;
    overflow: hidden;
    min-width: 100%;
    max-width: 1440px;
    img {
      display: block;
      width: 100%;
      position: absolute;
      height: 100%;
      object-fit: cover;
      //   @for $i from 0 through $grid-columns {
      //     &:nth-child(#{$i + 1}) {
      //       left: calc((1 * $i) * 100%);
      //     }
      //   }
      transition: 0.5s all;
      &.before {
        left: -100%;
        visibility: hidden;
      }
      &.in {
        left: 0%;
      }
      &.after {
        visibility: hidden;
        left: 100%;
      }
      &.hide {
        visibility: hidden;
      }
    }
  }
}
