.slider {
  overflow: hidden;
  height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
  justify-content: end;
  grid-template-columns: 1fr 1fr;
  .slide {
    display: flex;
    height: 100%;
    transition: all 0.3s;
    min-width: 100%;
    max-width: 1440px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    img {
      display: block;
      width: 100%;
      position: absolute;
      height: 100%;
      object-fit: cover;
      //   @for $i from 0 through $grid-columns {
      //     &:nth-child(#{$i + 1}) {
      //       left: calc((1 * $i) * 100%);
      //     }
      //   }
      transition: 0.5s all;
      &.before {
        left: -100%;
        visibility: hidden;
      }
      &.in {
        left: 0%;
      }
      &.after {
        visibility: hidden;
        left: 100%;
      }
      &.hide {
        visibility: hidden;
      }
    }
  }
  .grid-12 {
    position: relative;
    z-index: 2;
    grid-template-columns: 1fr;
    grid-column: 2/3;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    padding: 10px 20px;
    width: 80%;
    border-radius: 10px;
    h1 {
      margin: 15px 0px;
    }
    p {
      font-size: larger;
      line-height: 150%;
    }
  }
}
